@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.invBor::before {
    content: "";
    position: absolute;
    background-color: transparent;
    height: 10px;
    width: 20px;
    bottom: -0px;
    left: -20px;
    border-bottom-right-radius: 20px;
    box-shadow: 10px 0 0 0;
}

.invBor2::after {
    content: "";
    position: absolute;
    background-color: transparent;
    height: 10px;
    width: 20px;
    bottom: -0px;
    right: -20px;
    border-bottom-left-radius: 20px;
    box-shadow: -10px 0 0 0;
}

.animCircle {
    position: relative;
    padding: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation-name: waitingAnim;
    background-color: white;
    margin: 2px 3px;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}

@keyframes waitingAnim {
    from {
        background-color: white;
        transform: translateY(0px);
    }

    to {
        background-color: rgba(255, 255, 255, 0.151);
        transform: translateY(-2px);
    }
}

.getBtn{
    background-image: linear-gradient(45deg, 
            rgba(34,197,94, 0.5) 45%, 
            rgba(19, 240, 96, 0.658) 45%,
            rgba(34,197,94,0.5) 0%,
            rgba(19, 240, 96, 0.658) 55%,
            rgba(34 ,197 , 94 ,0.5) 65%);
    background-size: 200%;
}

@keyframes btnBounce {
    0% {
        background-position: -30%;
    }
    20% {
        background-position: 130%;
    }
    20%{
        background-position: -30%;
    }
    40%{
        background-position: 130%;
    }
    100%{
        
    }
}



.dropdown-enter-active,
.dropdown-leave-active {
    transition: opacity 0.2s, transform 0.2s ease-out;
}

.dropdown-enter-from,
.dropdown-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}
